<section class="gift-banner-header">
  {% comment %} <div class="gift-banner__top">
      <div class="gift-banner__logo">{{ section.settings.logo_text }}</div>
      <div class="gift-banner__small-text">{{ section.settings.top_text }}</div>
      <a href="#" class="gift-banner__choose-btn">
        {{ section.settings.choose_gift_text }}
        <span class="arrow">→</span>
      </a>
  </div> {% endcomment %}
  <div class="gift-banner">
    <div class="gift-banner__overlay">
      <div class="container">
        <div class="gift-banner__content gift-banner__content--{{ section.settings.content_alignment }}">
            {% if section.settings.heading != blank %}
              <h1 class="gift-banner__heading">{{ section.settings.heading }}</h1>
            {% endif %}

            {% if section.settings.subheading != blank %}
              <p class="gift-banner__subheading">{{ section.settings.subheading }}</p>
            {% endif %}

            {% if section.settings.button_text != blank %}
              <a href="{{ section.settings.shop_button_link }}" class="gift-banner__button">
                {{ section.settings.button_text }}
                <span class="arrow">→</span>
              </a>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="overlay-banner" style="background-image: url({{ section.settings.banner_image | img_url: '1920x' }});">
    </div>
  </div>
  <div class="gift-banner__bottom">
     {{ section.settings.bottom_text }}
  </div>
</section>
{% schema %}
{
  "name": "Gift Guide Banner",
  "settings": [
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo Text",
      "default": "TISSO VISON"
    },
    {
      "type": "text",
      "id": "top_text",
      "label": "Top Small Text",
      "default": "Find the ideal gift for your loved ones."
    },
       {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Background Image"
    },
    {
      "type": "text",
      "id": "choose_gift_text",
      "label": "Choose Gift Button Text",
      "default": "CHOOSE GIFT"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Sub Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Shop Now Button Text",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "shop_button_link",
      "label": "Shop Button Link"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "default": "center",
      "options": [
        { "value": "top-left", "label": "Top Left" },
        { "value": "top-right", "label": "Top Right" },
        { "value": "bottom-left", "label": "Bottom Left" },
        { "value": "bottom-right", "label": "Bottom Right" },
        { "value": "center", "label": "Center" }
      ]
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Small Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ],
  "presets": [
    {
      "name": "Gift Guide Banner"
    }
  ]
}
{% endschema %}

